@model Sigedap.Models.DictamenDeReclamacion

@{
    ViewBag.Title = "Delete";
}

<div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="section-title">
                    <h2  class="text-center"><strong>Eliminar DictamenDeReclamacion</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                </div>
<div class="col-md-12">
<h3>¿Esta seguro que desea eliminar este DictamenDeReclamacion?</h3>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Ci)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Ci)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ueb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ueb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OficinaComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OficinaComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Procede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Procede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutorizadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutorizadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNotificacionAlCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNotificacionAlCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreReclamante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreReclamante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiReclamante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiReclamante)
        </dd>

    </dl>
	<div class="col-md-12">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-md-3">
            @Html.ActionLink("Cerrar", "Index",null,new {@class = "btn btn-default"})
                <input type="submit" value="Borrar" class="btn btn-danger" />
				<hr />
        </div>
    }
	 </div>
</div>
</div>
    </div>
</div>
