@model Sigedap.Models.ActaRecogidaEquipos

@{
    ViewBag.Title = "Create";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-title">
                <h2 class="text-center"><strong>Nuevo ActaRecogidaEquipos</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.ExpedienteDictamenDeReclamacionId)
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Fecha, new { @class = "control-label col-md-6" })
                        <div class="form-group">
                            @Html.EditorFor(model => model.Fecha)
                            @Html.ValidationMessageFor(model => model.Fecha)
                        </div>
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.NombreRepresentante, new { @class = "control-label col-md-6" })
                        <div class="form-group">
                            @Html.EditorFor(model => model.NombreRepresentante)
                            @Html.ValidationMessageFor(model => model.NombreRepresentante)
                        </div>
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.CiRepresentante, new { @class = "control-label col-md-6" })
                        <div class="form-group">
                            @Html.EditorFor(model => model.CiRepresentante)
                            @Html.ValidationMessageFor(model => model.CiRepresentante)
                        </div>
                    </div>

                    @*<div class="col-md-6">
                            @Html.LabelFor(model => model.ExpedienteDictamenDeReclamacionId, new { @class = "control-label col-md-6" })
                            <div class="form-group">
                                @Html.EditorFor(model => model.ExpedienteDictamenDeReclamacionId)
                                @Html.ValidationMessageFor(model => model.ExpedienteDictamenDeReclamacionId)
                            </div>
                        </div>*@

                    <div class="form-group">
                        <div class="col-md-offset-10 col-md-2">
                            @Html.ActionLink("Cerrar", "Index", null, new { @class = "btn btn-default" })
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
                <hr />
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
