@model IEnumerable<Sigedap.Models.DictamenTecnico>

@{
    ViewBag.Title = "Index";
}
<div class = "panel panel-default">
<div class = "panel-heading">
<p>
    @Html.ActionLink("Nuevo DictamenTecnico", "Create",null, new {@class = "btn btn-success"})
</p>
</div>
<div class = "panel-body">
<table class="table dynamic">
<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipoDañado.Nacionalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecibidoPor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destino)
        </th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoDañado.Nacionalidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecibidoPor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destino)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.EquipoDañadoId }, new {@class = "btn btn-info"}) |            
            @Html.ActionLink("Eliminar", "Delete", new { id=item.EquipoDañadoId }, new {@class = "btn btn-danger"})
        </td>
    </tr>
}
<tbody>
</table>
</div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/mbs-qdtf.js"></script>
}

