@model Sigedap.Models.SolicitudReposicion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SolicitudReposicion</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialista)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
